section {
    border: 10px black solid;
    border-radius: 20px;
    padding: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    margin: 20px;
    text-align: center;
}
